MassiveEditor
MassiveEngine
MassiveEngine2
MassiveEditor2
ModelViewer
ModelViewer2
MassiveNetwork/*/obj
MassiveGenerator/data
ThisIsMassive
packages
ArtTextures
MassiveTest2
*/bin
*/obj
*/Deploy
dlls/old
dlls/64Andres
*/Platforms
*/ExamplesChat.WPF
*/ExamplesConsole
*.pdb
*.msi
.vs/*
.vs/**
.vs